# Note: All the variables to this image are optional.
# See README for more information.
# To use, uncomment and replace with your own values.

# 定义 IPsec PSK、VPN 用户名和密码
# - 请勿在值周围放置“”或“'”，或在 = 周围添加空格
# - 不要在值中使用这些特殊字符：\ " '
# VPN_IPSEC_PSK=your_ipsec_pre_shared_key
# VPN_USER=your_vpn_username
# VPN_PASSWORD=your_vpn_password

# 定义附加 VPN 用户
# - DO NOT put "" or '' around values, or add space around =
# - DO NOT use these special characters within values: \ " '
# - 用户名和密码必须用空格分隔s
# VPN_ADDL_USERS=additional_username_1 additional_username_2
# VPN_ADDL_PASSWORDS=additional_password_1 additional_password_2

# 使用 VPN 服务器的 DNS 名称
# - DNS 名称必须是完全限定的域名 (FQDN)
# VPN_DNS_NAME=vpn.example.com

# 指定第一个 IKEv2 客户端的名称
# - Use one word only, no special characters except '-' and '_'
# - The default is 'vpnclient' if not specified
# VPN_CLIENT_NAME=your_client_name

# 使用备用 DNS 服务器s
# - By default, clients are set to use Google Public DNS
# - Example below shows Cloudflare's DNS service
# VPN_DNS_SRV1=1.1.1.1
# VPN_DNS_SRV2=1.0.0.1

# 使用密码保护 IKEv2 客户端配置文件
# - By default, no password is required when importing IKEv2 client configuration
# - Uncomment if you want to protect these files using a random password
# VPN_PROTECT_CONFIG=yes
